@model Web.Areas.Admin.ViewModels.ProductSelectorIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductSelectors.FirstOrDefault().Manufactorer.ManufactorerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductSelectors.FirstOrDefault().ManufactorerType.ManufactorerTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductSelectors.FirstOrDefault().ModelSerie.ModelSerieName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductSelectors.FirstOrDefault().ModelSerieType.ModelSerieTypeName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ProductSelectors)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Manufactorer.ManufactorerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManufactorerType.ManufactorerTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelSerie.ModelSerieName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelSerieType.ModelSerieTypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProductSelectorId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProductSelectorId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProductSelectorId })
        </td>
    </tr>
    }

</table>