@model IEnumerable<Domain.Match>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstTeam.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondTeam.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfMapsPlayed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstMap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondMap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThirdMap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FourthMap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FifthMap)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstTeam.TeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondTeam.TeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfMapsPlayed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstMap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondMap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThirdMap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FourthMap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FifthMap)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MatchId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MatchId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MatchId })
        </td>
    </tr>
}

</table>
