@model Web.ViewModels.PieceInComputerIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PieceInComputers.FirstOrDefault().CompSpecId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PieceInComputers.FirstOrDefault().ProductSelectorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PieceInComputers.FirstOrDefault().Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.PieceInComputers) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ComputerSpecification.CompSpecId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductSelector.ProductSelectorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PieceInComputerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PieceInComputerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PieceInComputerId })
        </td>
    </tr>
}

</table>
