@model Web.Areas.Admin.ViewModels.ManufactorerIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Manufactorers.FirstOrDefault().ManufactorerName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Manufactorers) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ManufactorerName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ManufactorerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ManufactorerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ManufactorerId })
        </td>
    </tr>
}

</table>
