@model Domain.ProductSelector

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductSelector</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Manufactorer.ManufactorerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufactorer.ManufactorerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManufactorerType.ManufactorerTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufactorerType.ManufactorerTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelSerieType.ModelSerieTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelSerieType.ModelSerieTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelSerie.ModelSerieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelSerie.ModelSerieName)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductSelectorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
