@model IEnumerable<Domain.GameSpecification>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Player.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DpiValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SensitivityValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameWins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameLost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Player.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DpiValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SensitivityValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameWins)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameLost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GameSpecId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GameSpecId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GameSpecId })
        </td>
    </tr>
}

</table>
